{% load i18n %}
{% load parler_tags static %}
{# Navigation #}
<div classs="container" style="max-width: 100%; padding: 0;">
<nav class="navbar navbar-expand-lg justify-content-center" style="background-color: #520b5e">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavLeft">
            <ul class="navbar-nav flex-grow-1">
                {# Home #}
                <li class="nav-item flex-fill text-center">
                    <a class="nav-link active" style="color: #dff04a"
                        href="/{{ LANGUAGE_CODE }}/">
                        {% translate "Home" %}
                    </a>
                </li>
                {# Band #}
                <li class="nav-item flex-fill text-center">
                    <a class="nav-link active" style="color: #dff04a"
                        href="/{{ LANGUAGE_CODE }}/band/">
                        {% translate "Band" %}
                    </a>
                </li>
                {# Music #}
                <li class="nav-item flex-fill text-center">
                    <a class="nav-link active" style="color: #dff04a"
                        href="/{{ LANGUAGE_CODE }}/music/">
                        {{ _('Music') }}
                    </a>
                </li>
                {# Tour #}
                <li class="nav-item flex-fill text-center">
                    <a class="nav-link active" style="color: #dff04a"
                       href="/{{ LANGUAGE_CODE }}/tour/">
                        {{ _('Tour') }}
                    </a>
                </li>
            </ul>
        </div>
        {# BRAND #}
        <div class="justify-content-center text-center">
            <a class="navbar-brand mx-auto" style="color: #dff04a"
                href="/{{ LANGUAGE_CODE }}/">
                <img src="{% static 'img/logo.jpeg' %}" alt="MURASAKI" class="img-fluid" style="width: 150px"> <br>
                MURASAKI
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavRight">
            <ul class="navbar-nav flex-grow-1">
                {# News #}
                <li class="nav-item flex-fill text-center">
                    <a class="nav-link active" style="color: #dff04a"
                        href="/{{ LANGUAGE_CODE }}/news/">
                        {{ _('News') }}
                    </a>
                </li>
                {# Shop #}
                <li class="nav-item flex-fill text-center">
                    <a class="nav-link active" style="color: #dff04a"
                        href="/{{ LANGUAGE_CODE }}/shop/">
                        {{ _('Shop') }}
                    </a>
                </li>
                {# MEDIA #}
                <li class="nav-item dropdown">
                    <a
                            class="nav-link dropdown-toggle active"
                            href="#" role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            style="color: #dff04a"
                    >
                        {{ _('Media') }}
                    </a>
                    {# Links to photos and videos #}
                    <ul class="dropdown-menu" style="background-color: #520b5e">
                        <li>
                            <a
                                class="dropdown-item"
                                href="/{{ LANGUAGE_CODE }}/gallery/photos/"
                                style="color: #dff04a"
                            >{{ _('Photos') }}</a>
                        </li>
                        <li>
                            <a
                                class="dropdown-item"
                                href="/{{ LANGUAGE_CODE }}/gallery/videos/"
                                style="color: #dff04a"
                            >{{ _('Videos') }}</a>
                        </li>
                    </ul>
                </li>
                {# Language #}
                <li class="nav-item flex-fill text-center">
                    <a class="nav-link active" style="color: #dff04a; font-size: 0.8rem"
                       href="{{ switch_language.url }}" rel="alternate" hreflang="{{  switch_language.code }}">
                        {{ switch_language.label }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</div>
